<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="./css/master.css">

</head>

<body>
  <div id="app">
    <div>
      <nav>
        <div class="nav-wrapper container"><a href="/" class="brand-logo left">Home</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class="router-link-exact-active router-link-active">Top</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="/contact" class="">Contact</a></li>
          </ul>
          <ul class="right hide-on-large-only">
            <li><a href="#!" data-activates="dropdown" class="dropdown-button">
              Menu <i class="material-icons right">arrow_drop_down</i></a>
              <ul id="dropdown" class="dropdown-content">
                <li><a href="/" class="router-link-exact-active router-link-active">Top</a></li>
                <li><a href="/about" class="">About</a></li>
                <li><a href="/contact" class="">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div data-v-7f2e0164="">
        <div data-v-7f2e0164="" class="row">
          <div data-v-7f2e0164="" class="col s10 m11"><input data-v-7f2e0164="" placeholder="Task name" class="form-control"></div>
          <div data-v-7f2e0164="" class="col s2 m1">
            <div data-v-7f2e0164="" class="btn-floating waves-effect waves-light red"><i data-v-7f2e0164="" class="material-icons">add</i></div>
          </div>
        </div>
        <div data-v-7f2e0164="" id="open-tasks">
          <ul data-v-7f2e0164="" class="collection">
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-8" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-8"> <label data-v-9eaddf78="" for="task-8">Simple task 1</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-11" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-11"> <label data-v-9eaddf78="" for="task-11">Simple task 4</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-9" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-9"> <label data-v-9eaddf78="" for="task-9">It was Simple task 2</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-18" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-18"> <label data-v-9eaddf78="" for="task-18">setSplitData</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-6" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-6"> <label data-v-9eaddf78="" for="task-6">Buy bottle</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-22" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-22"> <label data-v-9eaddf78="" for="task-22">Update the docs</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-10" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-10"> <label data-v-9eaddf78="" for="task-10">Simple task 3</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-24" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-24"> <label data-v-9eaddf78="" for="task-24">Release </label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-23" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-23"> <label data-v-9eaddf78="" for="task-23">Change server time</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-19" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-19"> <label data-v-9eaddf78="" for="task-19">create multiple instances of a module</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-7" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-7"> <label data-v-9eaddf78="" for="task-7">Delete browser history</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
          </ul>
        </div>
        <div data-v-7f2e0164="" class="btn">Show finished tasks</div>
        <div data-v-7f2e0164="" id="finished-tasks" class="">
          <ul data-v-7f2e0164="" class="collection">
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-20" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-20"> <label data-v-9eaddf78="" for="task-20">Was a New one</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-14" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-14"> <label data-v-9eaddf78="" for="task-14">It was simple task 7</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-1" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-1"> <label data-v-9eaddf78="" for="task-1">Simple task 1</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-17" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-17"> <label data-v-9eaddf78="" for="task-17">Simple task 10</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-3" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-3"> <label data-v-9eaddf78="" for="task-3">Simple task 3</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-16" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-16"> <label data-v-9eaddf78="" for="task-16">Simple task 9</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-12" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-12"> <label data-v-9eaddf78="" for="task-12">Simple task 5</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-15" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-15"> <label data-v-9eaddf78="" for="task-15">Simple task 8</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-4" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-4"> <label data-v-9eaddf78="" for="task-4">Simple task 4</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-5" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-5"> <label data-v-9eaddf78="" for="task-5">Simple task 5</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
            <li data-v-9eaddf78="" data-v-7f2e0164="" id="row-task-2" class="collection-item"><input data-v-9eaddf78="" type="checkbox" id="task-2"> <label data-v-9eaddf78="" for="task-2">Simple task 2</label>
              <div data-v-9eaddf78="" class="right btn-group"><a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">create</i></a> <a data-v-9eaddf78="" class="btn-flat"><i data-v-9eaddf78="" class="small material-icons">delete</i></a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hiddendiv common"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
